<!doctype html>

{% extends "base.html" %}

{% block content %}


  <h1>Make buggy</h1>
  
   <p>
    {{ msg }}
  </p>
  
  <p>
    Buggy aesthetics
   </p>
  
  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" /> <br>
	
    <label for="flag_color">Flag's colour:</label>
    <input type="text" name="flag_color" /> <br>
	
	<label for="flag_color_secondary">Flag's secondary colour:</label>
    <input type="text" name="flag_color_secondary" /> <br>
	
	<p>Flag Pattern:</p>
	<input type="radio" id="plain" name="flag_pattern" value="plain"
	<label for="flag_pattern">Plain</label><br>
	<input type="radio" id=" vstripe" name="flag_pattern" value=" vstripe"
	<label for="flag_pattern">vertical stripes</label><br>
	<input type="radio" id="hstripe" name="flag_pattern" value="hstripe"
	<label for="flag_pattern">horizontal stripes</label><br>
	<input type="radio" id="dstripe" name="flag_pattern" value="dstripe"
	<label for="flag_pattern">diaganol stripes</label><br>
	<input type="radio" id="checker" name="flag_pattern" value="checker"
	<label for="flag_pattern">checkers</label><br>
	<input type="radio" id="spot" name="flag_pattern" value="spot"
	<label for="flag_pattern">spots</label><br>
	
	<p>
    Buggy engine:
   </p>
   <input type="radio" id="petrol" name="power_type" value="petrol"
	<label for="power_type">Petroleum-fuelled internal combustion engine </label><br>
	<input type="radio" id="  fusion" name="power_type" value="  fusion"
	<label for="power_type">Nuclear fusion reactor</label><br>
	<input type="radio" id=" steam" name="power_type" value=" steam"
	<label for="power_type">Steam engine</label><br>
	<input type="radio" id="bio" name="power_type" value="bio"
	<label for="power_type">Bio-fuelled internal combustion engine</label><br>
	<input type="radio" id="electric" name="power_type" value="electric"
	<label for="power_type">Lithium-ion battery</label><br>
	<input type="radio" id="rocket" name="power_type" value="rocket"
	<label for="power_type">Rocket fuel</label><br>
	<input type="radio" id="hamster" name="power_type" value="hamster"
	<label for="power_type">Hamster</label><br>
	<input type="radio" id="thermo" name="power_type" value="thermo"
	<label for="power_type">Thermonuclear reactor</label><br>
	<input type="radio" id="solar" name="power_type" value="solar"
	<label for="power_type">Bank of solar panels</label><br>
	<input type="radio" id="wind" name="power_type" value="wind"
	<label for="power_type">Sailing rig</label><br>
	
	<label for="power_units">Primary motive power units:</label>
    <input type="text" name="power_units" /> <br>
	
	

   
   
   
   
   
   
	
	
	
	
    <input type="submit" class="button"> 
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
  
{% endblock %}
