<!doctype html>

{% extends "base.html" %}

{% block content %}


  <h1>Make buggy</h1>
  
   <p>
    {{ msg }}
  </p>
  
  <p> 
    Buggy aesthetics
   </p> <br>
  
  <form action="/new" method="post">
	<p>
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" /> <br>
	</p>
	
	<p>
	<label for="tyres">Type of tyre:</label>
	<select name="tyres" id="tyres">
    <option value="knobbly">Knobbly</option>
    <option value="slick">Slick</option>
    <option value="steelband">Steel banded</option>
    <option value="reactive">Reactive</option>
	<option value="maglev">Maglev</option>
	</select>
	</p>
	
	<p>
    <label for="qty_tyres">Number of tyres:</label>
    <input type="text" name="qty_tyres" /> <br>
	</p>

    <label for="flag_color">Flag's colour:</label>
    <input type="text" name="flag_color" /> <br>
	
	<p>
	<label for="flag_color_secondary">Flag's secondary colour:</label>
    <input type="text" name="flag_color_secondary" /> <br>
	</p>
	<p>
	<label for="flag_pattern">Flag Pattern:</label>
	<select name="flag_pattern" id="flag_pattern">
    <option value="plain">Plain</option>
    <option value="vstripe">Vertical stripes</option>
    <option value="hstripe">Horizontal stripes</option>
    <option value="dstripe">Diaganol stripes</option>
	<option value="checker">Checkers</option>
	<option value="spot">Spots</option>
	</select>
	</p> <br>
	
	<p> <br>
    Buggy engines
   </p> </br>
   
   	<p>
	<label for="power_type">Buggy primary engine:</label>
	<select name="power_type" id="power_type">
    <option value="petrol">Petroleum-fuelled internal combustion engine </option>
    <option value="fusion">Nuclear fusion reactor</option>
    <option value="steam">Steam engine</option>
    <option value="bio">Bio-fuelled internal combustion engine</option>
	<option value="electric">Lithium-ion battery</option>
	<option value="rocket">Rocket fuel</option>
	<option value="hamster">Hamster</option>
	<option value="thermo">Thermonuclear reactor</option>
	<option value="solar">Bank of solar panels</option>
	<option value="wind">Sailing rig</option>
	</select>
	</p>

	<label for="power_units">Primary motive power units:</label>
    <input type="text" name="power_units" /> <br>
	
	<p>
	<label for="aux_power_type">Buggy auxiliary engine:</label>
	<select name="aux_power_type" id="aux_power_type">
	<option value="none">None</option>
    <option value="petrol">Petroleum-fuelled internal combustion engine </option>
    <option value="fusion">Nuclear fusion reactor</option>
    <option value="steam">Steam engine</option>
    <option value="bio">Bio-fuelled internal combustion engine</option>
	<option value="electric">Lithium-ion battery</option>
	<option value="rocket">Rocket fuel</option>
	<option value="hamster">Hamster</option>
	<option value="thermo">Thermonuclear reactor</option>
	<option value="solar">Bank of solar panels</option>
	<option value="wind">Sailing rig</option>
	</select>
	<br>
	</p>
	
	<p>
	<label for="aux_power_units">Auxiliary motive power units:(leave blank if None)</label>
    <input type="text" name="aux_power_units" /> <br>
	</p>
	
	<label for="hamster_booster">Hamster boosters:</label>
    <input type="text" name="hamster_booster" /> <br>
	
	<p> <br>
    Buggy Defense
   </p> </br>
	<p>
	<label for="armour">Armour:</label>
	<select name="armour" id="armour">
	<option value="none">None</option>
    <option value="wood">Wood</option>
    <option value="aluminium">Aluminium</option>
    <option value="thinsteel">Thin Steel</option>
    <option value="thicksteel">Thicc steel</option>
	<option value="titanium">Titanium</option>
	</select>
	</p>
   
	
	
	
	
	

   
   
   
   
   
   
	
	
	
	
    <input type="submit" class="button"> 
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
  
{% endblock %}
