<!doctype html>

{% extends "base.html" %}

{% block content %}


   <h1>
   <img src="/static/title2.png">
  </h1>

  
   <p style="color:red">
    {{ msg }}
   </p>
    
   
   <p> <u>
    Buggy aesthetics
   </p> <br> </u>
  
    <form action="/new" method="post">
	<p>
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" /> <br>
	</p>

	<p>
	<label for="tyres">Type of tyre:</label>
	<select name="tyres" id="tyres">
    <option value="knobbly">Knobbly</option>
    <option value="slick">Slick</option>
    <option value="steelband">Steel banded</option>
    <option value="reactive">Reactive</option>
	<option value="maglev">Maglev</option>
	</select>
	</p>
	
	<p>
    <label for="qty_tyres">Number of tyres:</label>
    <input type="text" name="qty_tyres" /> <br>
	</p>
	
    <p>
    <label for="flag_color">Flag's colour:</label>
    <input type="text" name="flag_color" /> <br>
	</p>
	
	<p>
	<label for="flag_color_secondary">Flag's secondary colour:</label>
    <input type="text" name="flag_color_secondary" /> <br>
	</p>
	
	<p>
	<label for="flag_pattern">Flag Pattern:</label>
	<select name="flag_pattern" id="flag_pattern">
    <option value="plain">Plain</option>
    <option value="vstripe">Vertical stripes</option>
    <option value="hstripe">Horizontal stripes</option>
    <option value="dstripe">Diaganol stripes</option>
	<option value="checker">Checkers</option>
	<option value="spot">Spots</option>
	</select>
	</p>
	
	<p> 
	Monster sound system installed:<br>
	<input type="radio" id="True" name="banging" value="True">
	<label for="banging">True</label><br>
	<input type="radio" id="False" name="banging" value="False">
	<label for="banging">False</label><br>
	<br>
	</p> 
	
	<p> <br> <u>
    Buggy engines
    </p> </br> </u>
   
   	<p>
	<label for="power_type">Buggy primary engine:</label>
	<select name="power_type" id="power_type">
    <option value="petrol">Petroleum-fuelled internal combustion engine </option>
    <option value="fusion">Nuclear fusion reactor</option>
    <option value="steam">Steam engine</option>
    <option value="bio">Bio-fuelled internal combustion engine</option>
	<option value="electric">Lithium-ion battery</option>
	<option value="rocket">Rocket fuel</option>
	<option value="hamster">Hamster</option>
	<option value="thermo">Thermonuclear reactor</option>
	<option value="solar">Bank of solar panels</option>
	<option value="wind">Sailing rig</option>
	</select>
	</p>
	
    <p>
	<label for="power_units">Primary motive power units:</label>
    <input type="text" name="power_units" /> <br>
	</p>
	
	<p>
	<label for="aux_power_type">Buggy auxiliary engine:</label>
	<select name="aux_power_type" id="aux_power_type">
	<option value="none">None</option>
    <option value="petrol">Petroleum-fuelled internal combustion engine </option>
    <option value="fusion">Nuclear fusion reactor</option>
    <option value="steam">Steam engine</option>
    <option value="bio">Bio-fuelled internal combustion engine</option>
	<option value="electric">Lithium-ion battery</option>
	<option value="rocket">Rocket fuel</option>
	<option value="hamster">Hamster</option>
	<option value="thermo">Thermonuclear reactor</option>
	<option value="solar">Bank of solar panels</option>
	<option value="wind">Sailing rig</option>
	</select>
	<br>
	</p>
	
	<p>
	<label for="aux_power_units">Auxiliary motive power units:(leave blank if None)</label>
    <input type="text" name="aux_power_units" /> <br>
	</p>
	
	<p>
	<label for="hamster_booster">Hamster boosters:</label>
    <input type="text" name="hamster_booster" /> <br>
	</p>
	
	<p> <br> <u>
    Buggy Defense
   </p> </br> </u>
   
	<p>
	<label for="armour">Armour:</label>
	<select name="armour" id="armour">
	<option value="none">None</option>
    <option value="wood">Wood</option>
    <option value="aluminium">Aluminium</option>
    <option value="thinsteel">Thin Steel</option>
    <option value="thicksteel">Thicc steel</option>
	<option value="titanium">Titanium</option>
	</select>
	</p>
	
	<p>Fireproof:<br>
	<input type="radio" id="True" name="fireproof" value="True">
	<label for="fireproof">True</label><br>
	<input type="radio" id="False" name="fireproof" value="False">
	<label for="fireproof">False</label><br>
	<br>
	
	Insulated:<br>
	<input type="radio" id="True" name="insulated" value="True">
	<label for="insulated">True</label><br>
	<input type="radio" id="False" name="insulated" value="False">
	<label for="insulated">False</label><br>
	<br>
	
	Antibiotic:<br>
	<input type="radio" id="True" name="antibiotic" value="True">
	<label for="antibiotic">True</label><br>
	<input type="radio" id="False" name="antibiotic" value="False">
	<label for="antibiotic">False</label><br>
	<br>
	
	
	<p> <br> <u>
    Buggy Offense
   </p> </br> </u>
   
	<p>
	<label for="attack">Offensive capability :</label>
	<select name="attack" id="attack">
    <option value="none">None</option>
    <option value="spike">Spikes</option>
    <option value="flame">Flamethrower</option>
    <option value="charge">Electric lance</option>
	<option value="biohazard">Infectious spores</option>
	</select>
	</p>
	
	<p>
    <label for="qty_attacks">Number of attacks:</label>
    <input type="text" name="qty_attacks" /> <br>
	</p>
	
	<p>
	<label for="algo">Race computer algorithm:</label>
	<select name="algo" id="algo">
    <option value="steady">Steady</option>
    <option value="defensive">Defensive</option>
    <option value="offensive">Offensive</option>
    <option value="titfortat">Tit for Tat</option>
	<option value="random">Random</option>
	</select>
	</p>
    
	<p>
    <input type="submit" class="button"> 
	</p>
	
  </form>
  <p>
    <a href="/" class="button">Home</a>
   </p>
  
{% endblock %}
