{% extends "base.html" %}

{% block content %}

  <h1>
   <img src="/static/title.png">
  </h1>

  <div class="spacer">
    <a href="/new" class="button">Make your buggy</a>
    <a href="/buggy" class="button">Show the buggy</a>
    <a href="/json" class="button">Get buggy JSON</a>
  </div>

  <p>
  This is the <img src="/static/SUPREME.png" width="100px"; height="100px"> 
  buggy editor for your buggy making needs,<br>
  use this website to create a 
  buggy in this server and generate a JSON to use for this
  <strong><a href="{{ server_url }}">website</a></strong>!
  </p>
  <img src="/static/buggy1.gif"> <br>
 
  <a style="font-size:10px;" href="https://i.kinja-img.com/gawker-media/image/upload/s--_qe_Pc_Z--/c_fill,fl_progressive,g_north,h_358,q_80,w_636/rgzbnc9p6zdpgdsmhwd6.gif">
  https://i.kinja-img.com/gawker-media/image/upload/s--_qe_Pc_Z--/c_fill,fl_progressive,g_north,h_358,q_80,w_636/rgzbnc9p6zdpgdsmhwd6.gif</a> <br>
  

  

{% endblock %}

