{% extends "base.html" %}

{% block content %}

  <h1>
   <img src="/static/title.png">
  </h1>

  <div class="spacer">
    <a href="/new" class="button">Make your buggy</a>
    <a href="/buggy" class="button">Show the buggy</a>
    <a href="/json" class="button">Get buggy JSON</a>
	<a href="/poster" class="button">Buggy poster</a>
  </div>

  <p>
  This is the <img src="/static/SUPREME.png" width="100px"; height="100px"> 
  buggy editor for your buggy making needs,<br>
  use this website to create a 
  buggy in this server and generate a JSON to use 
  <strong><a href="{{ server_url }}">here</a></strong>!
  </p>
  <img src="/static/buggy1.png" width="1000px"; height="1000px"> <br>
 
  <a style="font-size:10px;" href="https://img.gta5-mods.com/q95/images/dune-buggy-handling-for-dune/d35090-Grand%20Theft%20Auto%20V%205_8_2017%207_31_24%20PM.png">
  https://img.gta5-mods.com/q95/images/dune-buggy-handling-for-dune/d35090-Grand%20Theft%20Auto%20V%205_8_2017%207_31_24%20PM.png</a> <br>
  

  

{% endblock %}

